h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-align: center;
}

ul{
    text-align: center;
    position: fixed;
    top: 0;
    right: 100px;
}
ul > li{
    display: inline-block;
    font-size: 1.5em;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: rgb(132, 141, 127);
    
}

ul > li:hover{
    background-color: rgb(95, 104, 90) ;
}

a{
    text-decoration: none;
    color: aliceblue;
}

#profilepic{
    position: relative;
    width: 150px;
    left: 50%;
    margin: auto;
    margin-left: -75px;
    border-radius: 50%;
}

#projects, #about {
    position: relative;
    width: 50%;
    margin: auto;
}
#projects > img {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}

#about {
    text-align: center;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    background-color: aliceblue;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 15px;
    z-index: 1;
}
